{% extends 'base.html' %}
{% block content %}
    <h1>注册</h1>
    <form method="POST">
        <div>
            <label>用户名：</label>
            <input type="text" name="username" value="{{ username }}" required>
        </div>
        <div style="margin: 10px 0;">
            <label>邮箱：</label>
            <input type="email" name="email" value="{{ email }}" required>
        </div>
        <div>
            <label>密码：</label>
            <input type="password" name="password" required>
        </div>
        <div style="margin: 10px 0;">
            <label>确认密码：</label>
            <input type="password" name="confirm_password" required>
        </div>
        <button type="submit">注册</button>
    </form>
{% endblock %}